@page
@using Lighthouse.Models
@using Lighthouse.WorkTracking
@model Lighthouse.Pages.Projects.CreateModel

@{
    ViewData["Title"] = Model.IsEditMode ? "Edit" : "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project.Name" class="control-label">
                    <input asp-for="Project.Name" class="form-control" />
                    <span asp-validation-for="Project.Name" class="text-danger"></span>
                </label>
                <input type="hidden" asp-for="Project.Id" />
            </div>
            <div class="form-group" id="workItemTypesContainer">
                <label>
                    Work Item Types:
                    @if (Model.Project.WorkItemTypes != null)
                    {
                        foreach (var workItemType in Model.Project.WorkItemTypes)
                        {
                            <div class="input-group mb-3">
                                <input asp-for="Project.WorkItemTypes" class="form-control" value="@workItemType" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-danger remove-work-item" data-work-item="@workItemType">Remove</button>
                                </div>
                            </div>
                        }
                    }
                </label>
            </div>
            <button type="button" class="btn btn-success" id="addWorkItemType">Add Work Item Type</button>

            <div class="form-group">
                <label>
                    Milestones:
                    <div id="milestonesContainer">
                        @for (int i = 0; i < Model.Project.Milestones.Count; i++)
                        {
                            <div class="input-group mt-2">
                                <input type="text" name="Project.Milestones[@i].Name" value="@Model.Project.Milestones[i].Name" class="form-control" placeholder="Name" />
                                <input type="date" name="Project.Milestones[@i].Date" value="@Model.Project.Milestones[i].Date.ToString("yyyy-MM-dd")" class="form-control" placeholder="Date" />
                                <input type="hidden" name="Project.Milestones[@i].Id" value="@Model.Project.Milestones[i].Id" class="form-control" />
                                <input type="hidden" name="Project.Milestones[@i].ProjectId" value="@Model.Project.Id" class="form-control" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-danger remove-field" type="button">Remove</button>
                                </div>
                            </div>
                        }
                    </div>
                </label>
                <button type="button" id="addMilestone" class="btn btn-primary mt-2">Add Milestone</button>
            </div>

            <div class="form-group">
                <label asp-for="Project.WorkItemQuery" class="control-label">
                    Work Item Query:
                    <textarea asp-for="Project.WorkItemQuery" class="form-control" rows="5"></textarea>
                </label>
                <span asp-validation-for="Project.WorkItemQuery" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Project.UnparentedItemsQuery" class="control-label">
                    Unparented Items Query (leave empty if you don't want to include Unparented Items'):
                    <textarea asp-for="Project.UnparentedItemsQuery" class="form-control" rows="5"></textarea>
                </label>
                <span asp-validation-for="Project.UnparentedItemsQuery" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Project.DefaultAmountOfWorkItemsPerFeature" class="control-label">
                    Default Work Items Per Feature:
                    <input asp-for="Project.DefaultAmountOfWorkItemsPerFeature" class="form-control" />
                </label>
                <span asp-validation-for="Project.DefaultAmountOfWorkItemsPerFeature" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Project.WorkTrackingSystem" class="control-label">
                    Work Tracking System:
                    <select asp-for="Project.WorkTrackingSystem" class="form-control" asp-items="Html.GetEnumSelectList<WorkTrackingSystems>()" id="workTrackingSystem">
                        <option selected="selected" value="">Please select</option>
                    </select>
                </label>
                <span asp-validation-for="Project.WorkTrackingSystem" class="text-danger"></span>
            </div>

            <!-- Dynamic input fields for WorkTrackingSystemOptions -->
            <div class="form-group">
                <label>
                    Work Tracking System Options:
                    <div id="workTrackingOptionsContainer">
                        @for (int i = 0; i < Model.Project.WorkTrackingSystemOptions.Count; i++)
                        {
                            var inputType = Model.Project.WorkTrackingSystemOptions[@i].Secret ? "password" : "text";

                            <div class="input-group mt-2">
                                <input type="text" name="Project.WorkTrackingSystemOptions[@i].Key" value="@Model.Project.WorkTrackingSystemOptions[i].Key" class="form-control" placeholder="Key" readonly />
                                <input type="@inputType" name="Project.WorkTrackingSystemOptions[@i].Value" value="@Model.Project.WorkTrackingSystemOptions[i].Value" class="form-control col-12" placeholder="Value" />
                                <input type="hidden" name="Project.WorkTrackingSystemOptions[@i].Id" value="@Model.Project.WorkTrackingSystemOptions[i].Id" class="form-control" />
                                <input type="hidden" name="Project.WorkTrackingSystemOptions[@i].Secret" value="@Model.Project.WorkTrackingSystemOptions[i].Secret.ToString()" class="form-control" />
                                <input type="hidden" name="Project.WorkTrackingSystemOptions[@i].EntityId" value="@Model.Project.Id" class="form-control" />
                            </div>
                        }
                    </div>
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("addWorkItemType").addEventListener("click", function () {
                var container = document.getElementById("workItemTypesContainer");
                var input = document.createElement("input");
                input.setAttribute("class", "form-control");
                input.setAttribute("name", "Project.WorkItemTypes");
                input.setAttribute("placeholder", "Enter work item type");
                container.appendChild(input);

                var buttonDiv = document.createElement("div");
                buttonDiv.setAttribute("class", "input-group-append");
                var button = document.createElement("button");
                button.setAttribute("type", "button");
                button.setAttribute("class", "btn btn-danger remove-work-item");
                button.textContent = "Remove";
                buttonDiv.appendChild(button);

                var inputGroup = document.createElement("div");
                inputGroup.setAttribute("class", "input-group mb-3");
                inputGroup.appendChild(input);
                inputGroup.appendChild(buttonDiv);
                container.appendChild(inputGroup);

                button.addEventListener("click", function () {
                    container.removeChild(inputGroup);
                });
            });

            document.querySelectorAll(".remove-work-item").forEach(function (button) {
                button.addEventListener("click", function () {
                    var container = document.getElementById("workItemTypesContainer");
                    container.removeChild(button.closest(".input-group.mb-3"));
                });
            });
        });

        // Function to prepopulate existing work item types when editing
        window.onload = function () {
            var existingWorkItemTypes = document.querySelectorAll('.form-control[name="Project.WorkItemTypes"]');
            existingWorkItemTypes.forEach(function (input) {
                if (input.value !== "") {
                    var container = document.getElementById("workItemTypesContainer");
                    var inputGroup = input.closest(".input-group.mb-3");
                    var button = inputGroup.querySelector(".btn.btn-danger.remove-work-item");
                    container.appendChild(inputGroup);

                    button.addEventListener("click", function () {
                        container.removeChild(inputGroup);
                    });
                }
            });
        };

        $(document).ready(function () {
            $("#addMilestone").click(function () {
                var index = $("#milestonesContainer").children().length;

                $("#milestonesContainer").append(`
                                                            <div class="input-group mt-2">
                                                                <input type="text" name="Project.Milestones[${index}].Name" class="form-control" placeholder="Name"/>
                                                                <input type="date" name="Project.Milestones[${index}].Date" class="form-control" placeholder="Date"/>
                                                                <input type="hidden" name="Project.Milestones[${index}].ProjectId" value="@Model.Project.Id" class="form-control" />
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-danger remove-field" type="button">Remove</button>
                                                                </div>
                                                             </div>
                                                          `);
            });

            $("#workTrackingSystem").change(function () {
                var selectedSystem = $(this).val();
                $.get("/api/WorkTrackingSystemOptions/Project?selectedSystem=" + selectedSystem, function (data) {
                    // Clear existing options
                    $("#workTrackingOptionsContainer").empty();

                    // Add new options
                    $.each(data, function (index, option) {
                        var inputType = option.secret ? "password" : "text";
                        var secretValue = option.secret ? "true" : "false";

                        var html = '<div class="input-group mt-2">' +
                            '<input type="text" name="Project.WorkTrackingSystemOptions[' + index + '].Key" value="' + option.key + '" class="form-control" placeholder="Key" readonly/>' +
                            '<input type="' + inputType + '" name="Project.WorkTrackingSystemOptions[' + index + '].Value" value="' + option.value + '" class="form-control col-12" placeholder="Value" />' +
                            '<input type="hidden" name="Project.WorkTrackingSystemOptions[' + index + '].Secret" value="' + secretValue + '" class="form-control" placeholder="Secret" />' +
                            '<input type="hidden" name="Project.WorkTrackingSystemOptions[' + index + '].EntityId" value="@Model.Project.Id" class="form-control"  />' +
                            '<div class="input-group-append">' +
                            '</div>' +
                            '</div>';
                        $("#workTrackingOptionsContainer").append(html);
                    });
                });
            });

            $(document).on("click", ".remove-field", function () {
                $(this).closest(".input-group").remove();
            });
        });

    </script>
}