@page "{id?}"
@using CMFTAspNet.WorkTracking
@model CMFTAspNet.Pages.Teams.CreateModel

@{
    ViewData["Title"] = Model.Team?.Id > 0 ? "Edit Team" : "Create Team";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Team.Name" class="control-label">Team Name:</label>
                <input asp-for="Team.Name" class="form-control" />
                <span asp-validation-for="Team.Name" class="text-danger"></span>

                <input type="hidden" asp-for="Team.Id" />
            </div>

            <div class="form-group">
                <label asp-for="Team.FeatureWIP" class="control-label">Feature WIP:</label>
                <input asp-for="Team.FeatureWIP" class="form-control" />
                <span asp-validation-for="Team.FeatureWIP" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Team.ThroughputHistory" class="control-label">History in Days:</label>
                <input asp-for="Team.ThroughputHistory" class="form-control" />
                <span asp-validation-for="Team.ThroughputHistory" class="text-danger"></span>
            </div>

            <!-- Dynamic input fields for WorkItemTypes -->
            <div class="form-group">
                <label>Work Item Types:</label>
                <div id="workItemTypesContainer">
                    @foreach (var workItemType in Model.Team?.WorkItemTypes ?? new List<string>())
                    {
                        <div class="input-group mt-2">
                            <input type="text" name="Team.WorkItemTypes" value="@workItemType" class="form-control" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-danger remove-field" type="button">Remove</button>
                            </div>
                        </div>
                    }
                </div>
                <button type="button" id="addWorkItemType" class="btn btn-primary mt-2">Add Work Item Type</button>
            </div>

            <!-- Dynamic input fields for IgnoredTags -->
            <div class="form-group">
                <label>Ignored Tags:</label>
                <div id="ignoredTagsContainer">
                    @foreach (var ignoredTag in Model.Team?.IgnoredTags ?? new List<string>())
                    {
                        <div class="input-group mt-2">
                            <input type="text" name="Team.IgnoredTags" value="@ignoredTag" class="form-control" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-danger remove-field" type="button">Remove</button>
                            </div>
                        </div>
                    }
                </div>
                <button type="button" id="addIgnoredTag" class="btn btn-primary mt-2">Add Ignored Tag</button>
            </div>

            <!-- Dynamic input fields for AdditionalRelatedFields -->
            <div class="form-group">
                <label>Additional Related Fields:</label>
                <div id="additionalFieldsContainer">
                    @foreach (var additionalField in Model.Team?.AdditionalRelatedFields ?? new List<string>())
                    {
                        <div class="input-group mt-2">
                            <input type="text" name="Team.AdditionalRelatedFields" value="@additionalField" class="form-control" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-danger remove-field" type="button">Remove</button>
                            </div>
                        </div>
                    }
                </div>
                <button type="button" id="addAdditionalField" class="btn btn-primary mt-2">Add Additional Field</button>
            </div>


            <div class="form-group">
                <label asp-for="Team.WorkTrackingSystem" class="control-label">Work Tracking System:</label>
                <select asp-for="Team.WorkTrackingSystem" class="form-control" asp-items="Html.GetEnumSelectList<WorkTrackingSystems>()" id="workTrackingSystem">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Team.WorkTrackingSystem" class="text-danger"></span>
            </div>

            <!-- Dynamic input fields for WorkTrackingSystemOptions -->
            <div class="form-group">
                <label>Work Tracking System Options:</label>
                <div id="workTrackingOptionsContainer">
                    @for (int i = 0; i < Model.Team.WorkTrackingSystemOptions.Count; i++)
                    {
                        var inputType = Model.Team.WorkTrackingSystemOptions[@i].Secret ? "password" : "text";

                        <div class="input-group mt-2">
                            <input type="text" name="Team.WorkTrackingSystemOptions[@i].Key" value="@Model.Team.WorkTrackingSystemOptions[i].Key" class="form-control" placeholder="Key" readonly />
                            <input type="@inputType" name="Team.WorkTrackingSystemOptions[@i].Value" value="@Model.Team.WorkTrackingSystemOptions[i].Value" class="form-control" placeholder="Value" />
                            <input type="hidden" name="Team.WorkTrackingSystemOptions[@i].Secret" value="@Model.Team.WorkTrackingSystemOptions[i].Secret" class="form-control" placeholder="Secret" />
                            <input type="hidden" name="Team.WorkTrackingSystemOptions[@i].Id" value="@Model.Team.WorkTrackingSystemOptions[i].Id" class="form-control" />
                            <input type="hidden" name="Team.WorkTrackingSystemOptions[@i].EntityId" value="@Model.Team.Id" class="form-control" />
                        </div>
                    }
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="@ViewData["Title"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            // Function to add WorkItemType input field
            $("#addWorkItemType").click(function () {
                $("#workItemTypesContainer").append('<div class="input-group mt-2">' +
                    '<input type="text" name="Team.WorkItemTypes" class="form-control" />' +
                    '<div class="input-group-append">' +
                    '<button class="btn btn-outline-danger remove-field" type="button">Remove</button>' +
                    '</div>' +
                    '</div>');
            });

            // Function to add IgnoredTag input field
            $("#addIgnoredTag").click(function () {
                $("#ignoredTagsContainer").append('<div class="input-group mt-2">' +
                    '<input type="text" name="Team.IgnoredTags" class="form-control" />' +
                    '<div class="input-group-append">' +
                    '<button class="btn btn-outline-danger remove-field" type="button">Remove</button>' +
                    '</div>' +
                    '</div>');
            });

            // Function to add AdditionalField input field
            $("#addAdditionalField").click(function () {
                $("#additionalFieldsContainer").append('<div class="input-group mt-2">' +
                    '<input type="text" name="Team.AdditionalRelatedFields" class="form-control" />' +
                    '<div class="input-group-append">' +
                    '<button class="btn btn-outline-danger remove-field" type="button">Remove</button>' +
                    '</div>' +
                    '</div>');
            });

            $("#workTrackingSystem").change(function () {
                var selectedSystem = $(this).val();
                $.get("/api/WorkTrackingSystemOptions/Team?selectedSystem=" + selectedSystem, function (data) {
                    // Clear existing options
                    $("#workTrackingOptionsContainer").empty();

                    // Add new options
                    $.each(data, function (index, option) {
                        var inputType = option.secret ? "password" : "text";                        
                        var secretValue = option.secret ? "true" : "false";

                        var html = '<div class="input-group mt-2">' +
                            '<input type="text" name="Team.WorkTrackingSystemOptions[' + index + '].Key" value="' + option.key + '" class="form-control" placeholder="Key" readonly/>' +
                            '<input type="' + inputType + '" name="Team.WorkTrackingSystemOptions[' + index + '].Value" value="' + option.value + '" class="form-control" placeholder="Value" />' +
                            '<input type="hidden" name="Team.WorkTrackingSystemOptions[' + index + '].Secret" value="' + secretValue + '" class="form-control" placeholder="Secret" />' +
                            '<input type="hidden" name="Team.WorkTrackingSystemOptions[' + index + '].EntityId" value="@Model.Team.Id" class="form-control"  />' +
                            '<div class="input-group-append">' +
                            '</div>' +
                            '</div>';
                        $("#workTrackingOptionsContainer").append(html);
                    });
                });
            });
        });

        // Function to remove dynamically added input field
        $(document).on("click", ".remove-field", function () {
            $(this).parent().parent().remove();
        });
    </script>
}

