@page
@model CMFTAspNet.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Team Overview";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New Team</a>
</p>
<table class="table">
    <caption>New Team</caption>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Project Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teams) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                <a asp-page="./Create" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
