@page
@model CMFTAspNet.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Entity.Name</h1>

<div id="featuresTable">
    <h4>Target Date: @Model.Entity.TargetDate?.ToString("d")</h4>
    <table class="table">
        <caption>Forecasts</caption>
        <thead>
            <tr>
                <th>Feature</th>
                <th>Remaining Work</th>
                <th>50% Probability</th>
                <th>70% Probability</th>
                <th>85% Probability</th>
                <th>95% Probability</th>
                <th>Likelihood</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var feature in Model.Entity.Features.OrderBy(f => f.Order))
            {
                @if (feature.Forecast != null)
                {
                    var likelihood = feature.GetTargetDateLikelihood();

                    string GetLikelihoodColor(double likelihood)
                    {
                        return likelihood >= 80 ? "green" : likelihood >= 50 ? "amber" : "red";
                    }

                    string GetFutureDate(int daysInFuture)
                    {
                        var futureDate = DateTime.Today.AddDays(daysInFuture);
                        return futureDate.ToString("d");
                    }

                    var likelihoodColor = GetLikelihoodColor(likelihood);

                    <tr>
                        <td>@feature.Name</td>
                        <td>@feature.RemainingWork.Sum(r => r.RemainingWorkItems)</td>
                        <td>@GetFutureDate(@feature.Forecast.GetProbability(50))</td>
                        <td>@GetFutureDate(@feature.Forecast.GetProbability(70))</td>
                        <td>@GetFutureDate(@feature.Forecast.GetProbability(85))</td>
                        <td>@GetFutureDate(@feature.Forecast.GetProbability(95))</td>
                        <td style="background-color: @likelihoodColor">@likelihood</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div>
    <form method="post">
        <input type="hidden" asp-for="Entity.Id" />
        <button type="submit" class="btn btn-primary">Refresh Features</button>
    </form>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Entity.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>