@page
@model IndexModel
@{
    ViewData["Title"] = "Forecasts";
}

<div class="text-center">
    <h1 class="display-4">Forecasts</h1>

    <form method="post">
        <button type="submit" class="btn btn-primary">Update Forecasts</button>
    </form>

    <h1>Projects</h1>

    <table class="table">
        <caption>Forecasts</caption>
        <thead>
            <tr>
                <th>Projects</th>
                <th>Feature</th>
                <th>Remaining Work</th>
                <th>50% Probability</th>
                <th>70% Probability</th>
                <th>85% Probability</th>
                <th>95% Probability</th>
                <th>Likelihood</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model.Projects)
            {
                foreach (var feature in project.Features)
                {
                    @if (feature.Forecast != null)
                    {
                        var likelihood = feature.Forecast.GetLikelihood((project.TargetDate - DateTime.Today).Value.Days);

                        string GetLikelihoodColor(double likelihood)
                        {
                            return likelihood >= 80 ? "green" : likelihood >= 50 ? "amber" : "red";
                        }

                        string GetFutureDate(int daysInFuture)
                        {
                            var futureDate = DateTime.Today.AddDays(daysInFuture);
                            return futureDate.ToString("d");
                        }

                        var likelihoodColor = GetLikelihoodColor(likelihood);

                        <tr>
                            <td>@project.Name</td>
                            <td>@feature.Name</td>
                            <td>@feature.RemainingWork.Sum(r => r.RemainingWorkItems)</td>
                            <td>@GetFutureDate(@feature.Forecast.GetProbability(50))</td>
                            <td>@GetFutureDate(@feature.Forecast.GetProbability(70))</td>
                            <td>@GetFutureDate(@feature.Forecast.GetProbability(85))</td>
                            <td>@GetFutureDate(@feature.Forecast.GetProbability(95))</td>
                            <td style="background-color: @likelihoodColor">@likelihood</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
