@page
@model IndexModel
@{
    ViewData["Title"] = "Overview";
}

<div class="text-center">
    <h1 class="display-4">Overview</h1>

    <form method="post">
        <button type="submit" class="btn btn-primary">Update All</button>
    </form>

    @foreach (var project in Model.Projects)
    {
        <h2><a asp-page="./Projects/Details" asp-route-id="@project.Id">@project.Name</a></h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Remaining Work</th>
                    <th>Involved Teams</th>
                    <th>50% Probability</th>
                    <th>70% Probability</th>
                    <th>85% Probability</th>
                    <th>95% Probability</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var highestForecastFeature = project.Features
                        .Where(f => f.Forecast != null)
                        .OrderByDescending(f => f.Forecast.GetProbability(85))
                        .FirstOrDefault();

                    var remainingWork = project.Features.SelectMany(f => f.RemainingWork).Sum(rw => rw.RemainingWorkItems);

                    string GetFutureDate(int daysInFuture)
                    {
                        var futureDate = DateTime.Today.AddDays(daysInFuture);
                        return futureDate.ToString("d");
                    }

                    <tr>
                        <td>@remainingWork Work Items</td>
                        <td>
                            @foreach(var team in project.InvolvedTeams)
                            {
                                <a asp-page="./Teams/Details" asp-route-id="@team.Id">@team.Name</a> <br />
                            }
                        </td>
                        <td>@GetFutureDate(@highestForecastFeature?.Forecast?.GetProbability(50) ?? 0)</td>
                        <td>@GetFutureDate(@highestForecastFeature?.Forecast?.GetProbability(70) ?? 0)</td>
                        <td>@GetFutureDate(@highestForecastFeature?.Forecast?.GetProbability(85) ?? 0)</td>
                        <td>@GetFutureDate(@highestForecastFeature?.Forecast?.GetProbability(95) ?? 0)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>