@page
@model IndexModel
@{
    ViewData["Title"] = "Forecasts";
}

<div class="text-center">
    <h1 class="display-4">Forecasts</h1>

    <form method="post">
        <button type="submit" class="btn btn-primary">Update Forecasts</button>
    </form>

    <table class="table">
        <caption>Forecasts</caption>
        <thead>
            <tr>
                <th>Feature</th>
                <th>Remaining Work</th>
                <th>50% Probability</th>
                <th>70% Probability</th>
                <th>85% Probability</th>
                <th>95% Probability</th>
                <th>Project</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var feature in Model.Features.OrderBy(f => f.Order))
            {
                @if (feature.Forecast != null)
                {
                    string GetFutureDate(int daysInFuture)
                    {
                        var futureDate = DateTime.Today.AddDays(daysInFuture);
                        return futureDate.ToString("d");
                    }

                    <tr>
                        <td>@feature.Name</td>
                        <td>@feature.RemainingWork.Sum(r => r.RemainingWorkItems)</td>
                        <td>@GetFutureDate(@feature.Forecast.GetProbability(50))</td>
                        <td>@GetFutureDate(@feature.Forecast.GetProbability(70))</td>
                        <td>@GetFutureDate(@feature.Forecast.GetProbability(85))</td>
                        <td>@GetFutureDate(@feature.Forecast.GetProbability(95))</td>
                        <td><a asp-page="./Projects/Details" asp-route-id="@feature.Project.Id">@feature.Project.Name</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
